<meta charset="UTF-8">
<style type="text/css">
._customer_card__wrap {
    font-family: Arial, sans-serif;
    max-width: 870px;
    min-height: 143px;
    color: #000000;
    background: #ffffff;
    padding-top: 20px;
    padding-left: 17px;
}
._customer_card__cont {
    display: flex;
    flex-wrap: wrap;
}
._customer_card__item {
    display: flex;
    width: 48%;
    margin-bottom: 20px;
}
._customer_card__item-1, ._customer_card__item-3 {
    margin-right: 4%;
}
._customer_card__item-1 img {
    width: 47px!important;
    height: 47px!important;
}
._customer_card__item-2 img {
    width: 48px!important;
    height: 48px!important;
}
._customer_card__item-3 img {
    width: 52px!important;
    height: 47px!important;
}
._customer_card__item-4 img {
    width: 37px!important;
    height: 53px!important;
    margin-left: 8px;
}
._customer_card__txt {
    display: grid;
    align-content: center;
    margin-left: 15px;
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
}
@media (max-width: 998px) {
    ._customer_card__cont {
        display: block;
    }
    ._customer_card__item {
        width: 100%;
    }
}
</style>
<div class="_customer_card__wrap">
    <div class="_customer_card__cont">
        <div class="_customer_card__item _customer_card__item-1">
            <img src="img/block_card/img-1.png" />
            <div class="_customer_card__txt">
                <span>Предлагаем более дешевые, но<br /> не уступающие по качеству аналоги</span>
            </div>
        </div>
        <div class="_customer_card__item _customer_card__item-2">
            <img src="img/block_card/img-2.png" />
            <div class="_customer_card__txt">
                <span>Постоянным клиентам предоставляем<br /> отсрочку платежа</span>
            </div>
        </div>
        <div class="_customer_card__item _customer_card__item-3">
            <img src="img/block_card/img-3.png" />
            <div class="_customer_card__txt">
                <span>Есть цены от конкурента? Сделаем более<br /> выгодное предложение</span>
            </div>
        </div>
        <div class="_customer_card__item _customer_card__item-4">
            <img src="img/block_card/img-4.png" />
            <div class="_customer_card__txt">
                <span>Срочный заказ? Укомплектуем в течение<br /> часа после оплаты</span>
            </div>
        </div>
    </div>
</div>
